[submodule "modelzoo/transformers/data_processing/slimpajama/lm_dataformat"]
	path = modelzoo/transformers/data_processing/slimpajama/lm_dataformat
	url = https://github.com/leogao2/lm_dataformat.git
